body  {
    background-image: url('../img/bck.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center center;
	color:white;
}

.header {
	margin-bottom: 6%;
	background-color:#7fffff32;
}


.header .search-container {
  float: right;
}

.header input[type=text] {
  padding: 6px;
  width:300px;
  box-sizing:border-box;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-image: url('../img/color picked.png');
  transition: width 2s;
}
.header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header .search-container button:hover {
  background: #ccc;
}

.header .topnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 7fffffe6;
}

.header .topnav li#faqs a{
  display: block;
  color: #ff6f6f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: helvetica;
  font-size: 18px;
  text-transform:none;
}

.header .topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: helvetica;
  font-size: 18px;
  text-transform:uppercase;
}

.header .topnav li{
	float: left;
	border-right: 1px solid #bbb;
}

.header .topnav li#faqs{
	float:right;
	border-left:1px solid #bbb;
}



.header .topnav li:last-child{
	border-right: none;
}

.header .topnav li a:hover {
    background-color: #7ffff964;
    color: white;
}

.header .topnav li a.active {
    background-color: #00f9f964;
    color: white;
}

.header .topnav li a.active:hover {
    background-color: #7ffff964;
    color: white;
}

#social{
	list-style-type:none;
	overflow:hiden;
	float:left;
	margin-right:30px;
	margin-top:5px;
}

#social li .icon{
	padding:5px;
	height:32px;
	width:32px;
}

#social li {
	float:left;
	display:block;
}

#page-content {
	width: 100%;
	height: 100%;
}

#page-content img{
	height:24%; 
	width:30%;
	float: left;
}

#page-content h1{
	color:#00f9f9;
	font-family: Helvetica;
	font-size:27px;
	text-transform: uppercase;
	margin-left: 38.1%;
}

#page-content h2{
	color:#00f9f9;
	font-family: Helvetica;
	margin-left: 38.1%;
}

#page-content .paragraph-container{
	width:85%;
	/*background-color: #ffffff7f;*/
}

#page-content .paragraph-container p{
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	margin-left: 45%;
}