/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}


body  {
  background-image: url('../img/blck.jpg');
	/*background-size: cover;
	/*background-repeat: no-repeat;*/
	background-position:center center;
	color:white;
}

p{
  color: white;
  font-family: 'Josefin Slab', serif;;
  font-size: 20px;
}

.header {
	background-color:#7fffff32;
}

#home-header{
  	padding-bottom: 2%;
}


.header .search-container {
  float: right;
}

.header input[type=text] {
  padding: 6px;
  width:300px;
  box-sizing:border-box;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-image: url('../img/color picked.png');
  transition: width 2s;
}
.header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header .search-container button:hover {
  background: #ccc;
}

.header .topnav{
  width:100%;
  text-align: center;
}

.header .topnav ul{
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header .topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bad Script', cursive;
  font-size: 15px;
  text-transform:uppercase;
  transition-duration: 0.5s;
  cursor: pointer;
}

.header .topnav li{
	float: left;
	/*border-right: 1px solid #bbb;*/
}

/*.header .topnav li:last-child{
	border-right: none;
}*/

.header .topnav li a:hover {
  background-color: #7ffff964;
  color: white;
}

.header .topnav li a.active {
  background-color: #00f9f964;
  color: white;
}

.header .topnav li a.active:hover {
  background-color: #7ffff964;
  color: white;
}

#social{
	list-style-type:none;
	overflow:hiden;
	float:left;
	margin-right:30px;
	margin-top:5px;
}

#social li .icon{
	padding:5px;
	height:32px;
	width:32px;
}

#social li {
	float:left;
	display:block;
}

#box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}

#box .get-started{
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid #e7e7e7;
  padding: 10px 20px;
  font-size:15px;
  transition-duration: 0.9s;
  cursor: pointer;
}

#box .get-started:hover{
  background-color: #e7e7e7;
  color: black;
}


#box h5{
  font-size: 20px;
  letter-spacing: .5px;
  font-weight: 300;
}

#box p{
  text-align: justify;
}

#box ul{
  margin: 0;
  padding: 0;
}

#box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}

#box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

#box li a:hover{
  color: #b9b9b9;
}

#box-img{
  width: 60%;
}

#page-content {
	width: 100%;
	height: 100%;
  display: inline-block;
}

/*#page-content img{
	height:24%;
	width:30%;
	float: left;
}*/

#page-content h1{
	color:#00f9f9;
	font-family: 'Bad Script', cursive;
	font-size:27px;
	text-transform: uppercase;
}

#page-content p{
  color: white;
	font-family: 'Josefin Slab', serif;
	font-size:20px;
}

#page-content h2{
	color:#00f9f9;
	font-family: 'Bad Script', cursive;
  font-size:23px;
  margin: 0;
  padding: 0;
}

#page-content .paragraph-container{
	width: 100%;
  justify-content: center;
	/*background-color: #ffffff7f;*/
}

#page-content .paragraph-container p{
	color: white;
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
/*	margin-left: 45%;*/
}

#page-content .paragraph-container h5{
	color: #00f9f9;
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
}

#page-content .paragraph-container .service-row{
  display: flex;
  box-sizing: border-box;
}

#page-content .paragraph-container .service{
  margin-top: 2%;
  flex: 33%;
}

#page-content .paragraph-container .service img{
  width: 150px;
  height: 100px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

#page-content .paragraph-container .service p{
  color: white;
	font-family: 'Josefin Slab', serif;
	font-size: 17px;
  margin: 10px;
}

#page-content .paragraph-container h4{
	color:#00f9f9;
	font-family: 'Bad Script', cursive;
  font-size:18px;
/*	margin-left: 45%;*/
}

#page-content .paragraph-container ul{
	color: white;
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
/*	margin-left: 45%;*/
}

#page-content .paragraph-container .service{
	color: #00f9f9;
	font-family: 'Bad Script', cursive;
	font-size: 22px;
  /*margin-left: 45%;*/
  margin-right: 0;
}

#page-content .paragraph-container .service-title{
  color: #00f9f9;
	font-family: 'Bad Script', cursive;
	font-size: 20px;
}
