body  {
    /*background-image: url('file:///C:/cygwin64/home/CHUx%20MyKeL/websites/zaviancorporate.com/img/background.jpg');*/
	background-image: url('../img/bck.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center center;
	color:white;
}

.header {
	margin-bottom: 6%;
	background-color:#7fffff7f;
}


.header .search-container {
  float: right;
}

.header input[type=text] {
  padding: 6px;
  width:300px;
  box-sizing:border-box;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-image: url('../img/color picked.png');
  transition: width 2s;
}
.header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header .search-container button:hover {
  background: #ccc;
}

.header .topnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header .topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header .topnav li{
	float: left;
	border-right: 1px solid #bbb;
}

.header .topnav li:last-child{
	border-right: none;
}

.header .topnav li a:hover {
    background-color: #555;
    color: white;
}

.header .topnav li a.active {
    background-color: #00f9f9;
    color: #a87d4c;
}

.header .topnav li a.active:hover {
    background-color: #7ffff9;
    color: white;
}

#social{
	list-style-type:none;
	overflow:hiden;
	float:left;
	margin-right:30px;
	margin-top:5px;
}

#social li .icon{
	padding:5px;
	height:32px;
	width:32px;
}

#social li {
	float:left;
	display:block;
}

#page-content {
	width: 100%;
	height: 100%;
}

#page-content img{
	height:24%; 
	width:30%;
	float: left;
}
#page-content .iframe-container{
	overflow: hidden;
	padding-top:5%;
}
#page-content .iframe-container iframe{
	border:none; 
	height:100%;
	float:right;
	top: 0;
	width:70%;
}









/*.header{
	
}

.header input[type=text] {
	background-color:#ffffffff;
	color:#000000;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}*/
 
/*.section {
	height: 200px;
	width: 100%;
	margin: 10px;
	background-color: #222222a0;
    color: white;
    padding: 20px;
}*/